#!/bin/sh

# ***** Don't remove this file. Just copy it to .git/hooks/post-commit *****

SHA="$(git rev-parse HEAD)"
rm ../TaskAssignment.github.io/api/* -rf

cd packages/custom/baseFrame
./node_modules/jsdoc/jsdoc.js server/models/* server/controllers/* server/routes/* \
public/controllers/* public/routes/* public/services/* -c conf.json

mv out/* ../../../../TaskAssignment.github.io/api/
rm out/ -rf
cd ../../../../TaskAssignment.github.io/
git add .
cat > .message << EOL
Update jsdoc

This commit was generated automatically from the following source:
  Commit SHA: ${SHA}
  Repo: https://github.com/TaskAssignment/software-expertise
EOL
git commit -F .message
rm .message
